@model IEnumerable<AdvancedDatabaseandORMConcepts.Models.Room>

@{
    Layout = null;
}
<h1>Rooms</h1>

<a asp-action="Create">Create</a>

<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(r => r.RoomNumber)</th>
            <th>@Html.DisplayNameFor(r => r.Capacity)</th>
            <th>@Html.DisplayNameFor(r => r.Section)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Room room in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => room.RoomNumber)</td>
                <td>@Html.DisplayFor(model => room.Capacity)</td>
                <td>@Html.DisplayFor(model => room.Section)</td>
                <td>
                    <a asp-action="edit" asp-route-id="@room.RoomNumber">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>